# {{ ansible_managed }}
allow-from=127.0.0.0/8
etc-hosts-file=/etc/powerdns/hosts.txt
export-etc-hosts=on
config-dir=/etc/powerdns
hint-file=/etc/powerdns/root.hints
local-address=127.0.0.1
edns-padding-from=127.0.0.1
quiet=yes
setgid=pdns
setuid=pdns
lua-dns-script=/etc/powerdns/pdns.lua
local-port=5353
any-to-tcp=no
auth-zones={% for tld in opennic_tlds %}{{ tld }}=/etc/powerdns/zones.d/{{ tld }}.conf{% if not loop.last %},{% endif %}{% endfor %}
