# {{ ansible_managed }}
-- Open ACL to the Internet
setACL("0.0.0.0/0")
addACL("::/0")

-- accept DNS queries on UDP and TCP
setLocal("{{ IP4 }}:53")
addLocal("[{{ IP6 }}]:53")

-- fwd queries to:
newServer({address="127.0.0.1:5353"})
