domainame = "{{ TEST_DOMAIN }}"
response  = "{{ hostvars[inventory_hostname].ansible_host }}"

function nxdomain(dq)
    if dq.qname:equal(domainame) then
        dq.rcode=0 -- make it a normal answer
        dq:addAnswer(pdns.A, response)
        dq.variable = true -- disable packet cache
        return true
    end
    return false
end
