allow-from=127.0.0.0/8
config-dir=/etc/powerdns
hint-file=/etc/powerdns/root.hints
local-address=127.0.0.1
quiet=yes
setgid=pdns
setuid=pdns
lua-dns-script=/etc/powerdns/pdns.lua
local-port=5353
any-to-tcp=no
